{# Render breadcrumb label #}
{% macro render_content(nav_item) %}
  <span class="md-ellipsis">
    {{ nav_item.title }}
  </span>
{% endmacro %}

{# Render a single breadcrumb item #}
{% macro render(nav_item, ref = nav_item) %}
  {# Resolve the link target: use first child if nested #}
  {% if nav_item.children and nav_item.children[0].url %}
    {% set target = nav_item.children[0] %}
  {% else %}
    {% set target = nav_item %}
  {% endif %}

  <li class="md-path__item">
    {% if target.url == page.url %}
      <span class="md-path__link md-path__current">
        {{ render_content(ref) }}
      </span>
    {% else %}
      <a href="{{ target.url | url }}" class="md-path__link">
        {{ render_content(ref) }}
      </a>
    {% endif %}
  </li>
{% endmacro %}
