/* Text styles */


/*
# for the readthedocs theme
.wy-nav-content  {
    max-width: none;
}
 */

/* full width */
.md-grid {
  max-width: 90%;
}

.md-nav__item--section > .md-nav__link[for] {
    color: inherit;
}

/*
:root {
  --md-primary-fg-color: #1F4068;
  --md-accent-fg-color: #C44601;
  --md-primary-fg-color--light: #ADD8E6;
  --md-primary-fg-color--dark:  #90030C;
}
 */

 [data-md-color-scheme="default"] {
   --md-primary-fg-color: #2b6ca1;
   --md-accent-fg-color: #09c36c;
 }

 [data-md-color-scheme="slate"] {
   --md-primary-fg-color: #09c36c;
   --md-accent-fg-color: #2b6ca1;
 }

.md-typeset h2{
      color: inherit;
      font-weight: bold;
      font-size: 1.3em;
}

/*
p {
  font-size: 1.2em;
  }

  li {
  font-size: 1.2em;
  }
 */

# for the material theme
increase default font sizep, li{
  margin: 0 0 0.75em;
  font-size: 1.1em;
  }

.center {
      text-align: center;
}


increase header size and fonts.md-header__topic  {
  font-size: 1.5em;
  line-height: 2em;
  }

.md-tabs__link  {
      font-size: 1.75em;
  }

/* Hide main nav title */
label[for="__drawer"] {
    display: none;
}


/* style the left hand nav section */

/*
.md-nav--primary {
      background-color: #ADD8E6;
      width: 100%;
      padding: 2em;
      border: .1em;
      border-style: dotted;
      border-color: black;
      }
 */



/* (C) RESPONSIVE - 1 COLUMN ON SMALL SCREENS */
@media screen and (max-width: 640px) {
  #grid-col { grid-template-columns: 100%; }
}

/* (A) GRID CONTAINER */
#grid-line {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 20px;
}

/* (B) GRID CELL */
div.cell {
  border: 1px solid #e0e0e0;
  padding: 10px;
}

/* (C) SPAN MULTIPLE COLUMNS */
.spancol {
  grid-column-start: 1;
  grid-column-end: 2;
}
